
@font-face {
  font-family: 'AngellifeFREE';
  src: url('AngellifeFREE.eot?#iefix') format('embedded-opentype'),  url('AngellifeFREE.woff') format('woff'), url('AngellifeFREE.ttf')  format('truetype'), url('AngellifeFREE.svg#AngellifeFREE') format('svg');
  font-weight: normal;
  font-style: normal;
}
